body {
  padding: 0;
  margin: 0;
}
:root {
  --z-primary: 13, 111, 209;
  --z-success: 62, 161, 16;
  --z-warning: 245, 208, 105;
  --z-danger: 184, 6, 26;
  --z-info: 23, 176, 207;
  --z-dark: 29, 29, 29;
  --z-dark-page: 18, 18, 18;
  --z-light-text: #f5f5f5;
  --z-dark-text: rgb(29, 29, 29);
  --z-quiet: 212, 217, 225;
  --z-font-xl: 20px;
  --z-font-lg: 18px;
  --z-font-md: 16px;
  --z-font-sm: 14px;
  --z-font-xs: 12px;
}
